.app {
  display: grid;
  grid-template-columns: [full-width-start] minmax(0, 1fr) [content-start] min(100% - 20px, 1200px) [content-end] minmax(0, 1fr) [full-width-end];
  background-color: #fff;
}

.app > *, .full-width > * {
  grid-column: content;
}

.app > .full-width {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full-width;
}