.item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.itemContent {
  width: 100%;
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.name {
  font-weight: 400;
  font-size: 22px;
  color: #2b1f13;
}

.spinButton {
  display: flex;
  gap: 5px;
  align-items: center;
}

.spinInput {
  border: 0;
  background-color: transparent;
  width: fit-content;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #000;
}

.controlButtons {
  cursor: pointer;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: transparent;
  color: #2b1f13;
  opacity: 0.4;
  font-size: 20px;
}

.price {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #000;
}

@media (max-width: 768px) {
  .item {
    gap: 10px;
  }

  .name {
    font-size: 18px;
  }

  .itemContent {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .spinInput {
    font-size: 20px;
    width: 20px;
  }

  .price {
    font-size: 20px;
  }
}