.button {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.white {
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    color: #2b1f13;
    background-color: #fff;
  }
}

.brownFullFilled {
  border: 0;
  color: #fff;
  background-color: #2b1f13;
}

.whiteFullFilled {
  border: 0;
  color: #2b1f13;
  background-color: #fff;
}

.brown {
  border: 1px solid #2b1f13;
  color: #2b1f13;

  &:hover {
    color: #fff;
    background-color: #2b1f13;
  }
}

.clear {
  background-origin: transparent;
  border: 0;
}

.lightBrown {
  border: 1px solid #543c24;
  color: #543c24;

  &:hover {
    color: #fff;
    background-color: #543c24;
  }
}

.m {
  padding-block: 16px;
  min-width: 200px;
}

.xs {
  padding-block: 6px;
  min-width: 130px;
}

.default {
  padding-block: 6px;
  min-width: fit-content;
}