.title {
  background-color: rgba(127, 160, 45, 0.2);
  grid-column: full-width;
  font-weight: 300;
  font-size: 112px;
  color: #3e5b1b;
  line-height: 133%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

.firstItem {
  margin-top: 90px;
}

.advantages {
  grid-column: full-width;
  background-color: rgba(127, 160, 45, 0.2);
  display: grid;
  grid-template-columns: inherit;
  margin-top: 90px;
  padding-block: 40px;

  &> * {
    grid-column: content;
  }
}

.advantagesTitle {
  font-weight: 400;
  font-size: 46px;
  color: #3e5b1b;
}

.advantagesWrapper {
  display: flex;
  gap: 60px;
  margin-top: 25px;
}

.advantagesList {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 15px;
}

.advantagesItem {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2b1f13;

  &:not(:last-child)::after {
    content:'';
    display: block;
    width: 100%;
    height: 0px;
    border-top: 1px solid #2b1f13;
    margin-top: 15px;
  }
}

.usage {
  margin-top: 90px;
}

.usageTitle {
  font-weight: 400;
  font-size: 46px;
  color: #2b1f13;
}

.usageContent {
  margin-top: 25px;
  display: flex;
  gap: 60px;
}

.usageItem {
  width: calc(100% - 20px);
  background-color: rgba(127, 160, 45, 0.2);
  padding: 10px 10px 10px 15px;
}

.usageItemList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.usageNumber {
  width: 100%;
  display: inline-block;
  font-weight: 300;
  font-size: 56px;
  text-align: right;
  color: #3e5b1b;
}

.usageSentence {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #2b1f13;
}

.usageImage {
  width: 570px;
  height: auto;
  object-fit: contain;
}

.firstSentence {
  font-size: 22px;

  &::after {
    content: '';
    display: block;
  }
}

.benefit {
  grid-column: full-width;
  background-color: rgba(127, 160, 45, 0.2);
  display: grid;
  grid-template-columns: inherit;
  margin-top: 140px;

  &> * {
    grid-column: content;
  }
}

.benefitContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 25px 60px;
  align-items: stretch;
}

.benefitImage {
  width: min(100%, 570px);
  height: auto;
  object-fit: contain;
  grid-column: 1;
  grid-row: 1/ span 2;
}

.benefitTitle {
  margin-top: 25px;
  font-weight: 400;
  font-size: 46px;
  color: #3e5b1b
}

.benefitList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.benefitItem {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2b1f13;

  &:not(:last-child)::after {
    content:'';
    display: block;
    width: 100%;
    height: 0px;
    border-top: 1px solid #2b1f13;
    margin-top: 15px;
  }
}

.humusDetail {
  margin-top: 90px;
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

.features {
  display: flex;
  background-color: rgba(127, 160, 45, 0.2);
  grid-column: full-width-start / content-start;
}

.humusContent {
  grid-column: content;
  display: flex;
  gap: 30px;
}

.featuresContent {
  background-color: rgba(127, 160, 45, 0.2);
  width: 50%;
  padding: 40px 30px 50px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.featuresTitle {
  font-weight: 400;
  font-size: 46px;
  color:  #3e5b1b;
}

.featuresText {
  color: #2b1f13;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.handlingContent {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(1, fit-content);
  grid-template-rows: repeat(3, fit-content);
  gap: 25px;
}

.handlingTitle {
  font-weight: 400;
  font-size: 46px;
  color: #2b1f13;
}

.handlingImage {
  width: 100%;
  min-width: 196px;
  max-width: 196px;
  height: auto;
  object-fit: contain;
}

.handlingText {
  color: #2b1f13;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .advantages {
    padding-block: 25px;
  }

  .advantagesList {
    width: 100%;
  }

  .advantagesTitle {
    font-size: 30px;
    text-align: center;
  }

  .advantagesWrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .advantagesItem {
    font-size: 14px;
  }

  .advantagesList:first-child .advantagesItem:last-child::after {
    content:'';
    display: block;
    width: 100%;
    height: 0px;
    border-top: 1px solid #2b1f13;
    margin-top: 15px;
  }

  .usageTitle {
    text-align: center;
    font-size: 30px;
  }

  .usageContent {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .usageImage {
    width: min(100%, 570px);
  }

  .usageItemList {
    grid-template-columns: repeat(1, 1fr);
  }

  .usageNumber{
    font-size: 46px;
    text-align: left;
  }

  .firstSentence {
    font-size: 14px;

    &::after {
      display: none;
    }
  }

  .benefit {
    padding-bottom: 25px;
  }

  .benefitContent {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .benefitTitle {
    grid-row: 1;
  }
  
  .benefitImage {
    grid-row: 2;
  }

  .humusContent {
    flex-direction: column;
  }

  .features {
    display: none;
  }

  .featuresContent {
    width: 100%;
    padding: 25px 0 25px 0;
    align-items: center;  
  }
  
  .featuresTitle {
    font-size: 30px;
  }

  .featuresText {
    font-size: 14px;
  }

  .handlingContent {
    width: 100%;
    justify-items: center;
  }

  .handlingTitle {
    font-size: 30px;
    grid-row: 1;
  }

  .handlingImage {
    max-width: 320px;
    width: 100%;
  }

  .handlingText {
    font-size: 14px;
  }
}

@media (max-width: 1023px) {
  .title {
    font-size: 40px;
  }
}