.title {
  background-color: #f0edc6;
  grid-column: full-width;
  font-weight: 300;
  font-size: 112px;
  color: #2b1f13;
  line-height: 133%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 140px;
  margin-bottom: 40px;
}

.subtitle {
  font-weight: 600;
  font-size: 46px;
  line-height: 110%;
  color: #2b1f13;
  text-align: center;
  margin-top: 90px;
}

.divider {
  width: 100%;
  height: 0px;
  border: 1px solid #2b1f13;
  opacity: 0.3;
  margin-top: 25px;
}

.iconsList {
  display: flex;
  gap: 128px;
  margin-top: 50px;
  justify-content: space-between;
}

.iconItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100%/3);
}

.icon {
  width: fit-content;
  height: 120px;
}

.iconText {
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  color: #2b1f13;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 30px;
  }

  .iconsList {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .iconItem {
    width: 100%;
    align-items: center;

    &:not(:last-child)::after {
      content: '';
      width: 100%;
      border: 1px solid #2b1f13;
      opacity: 0.3;
      display: block;
    }
  }

  .iconText {
    text-align: center;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .title {
    font-size: 40px;
  }

  .iconText {
    font-size: 30px;
  }
}