.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-inline: 25px;
  padding-block: 18px;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;

  &::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 140%;
    color: #fff;
    opacity: 0.2;
    text-transform: uppercase;
  }

  &:hover {
    &::placeholder {
      opacity: 0.8;
    }
  }

  &:focus {
    &::placeholder {
      opacity: 0.8;
    }
  }
}

.white {
  border: 1px solid #fff;
  color: #fff;

  &::placeholder {
    color: #fff;
  }
}

.black {
  border: 1px solid #2b1f13;
  color: #2b1f13;

  &::placeholder {
    color: #2b1f13;
  }
}