.promo {
  background-image: url("/images/promo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.promoContent {
  padding-top: 160px;
}

.title {
  font-weight: 600;
  font-size: 72px;
  line-height: 110%;
  color: #fff;
  margin-top: 130px;
  width: 80%;
}

.promoText {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-top: 20px;
  width: 40%;
}

.promoButton {
  width: 260px;
  padding-block: 16px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    margin-top: 70px;
  }

  .promoText {
    font-size: 14px;
    width: 100%;
  }

  .promoButton {
    width: 100%;
  }

  .promoContent {
    padding-top: 80px;
  }
}