.promo {
  background-image: url("/images/promo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.promoContent {
  padding-top: 160px;
}

.title {
  font-weight: 600;
  font-size: 72px;
  line-height: 110%;
  color: #fff;
  margin-top: 70px;
  width: 80%;
}

.promoText {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-top: 20px;
  width: 40%;
}

.promoButton {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  padding-block: 6px;
  min-width: 130px;
  text-decoration: none;
  width: 260px;
  padding-block: 16px !important;
  margin-top: 40px;

  &:hover {
    color: #2b1f13;
    background-color: #fff;
  }
}

.phones {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.phones_text {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  width: 40%;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    margin-top: 40px;
  }

  .promoText {
    font-size: 14px;
    width: 100%;
  }

  .promoButton {
    width: 100%;
  }

  .promoContent {
    padding-top: 80px;
  }
  
  .phones_text {
    font-size: 30px;
    width: 100%;
  }
}