.productCard {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.imageWrapper {
  position: relative;
}

.image {
  max-width: 387px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.productTitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 115%;
  color: #543c24;
}

.productDetail {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #543c24;
}

.productPrice {
  font-weight: 700;
  font-size: 32px;
  line-height: 115%;
  color: #543c24;
}

.productButton {
  width: 220px;
}

.newProduct {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  background-color: #543c24;
  color: #f0edc6;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

@media (max-width: 768px) {
  .productCard {
    gap: 15px;
  }

  .image {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .productTitle {
    font-size: 14px;
  }

  .productPrice {
    font-size: 14px;
  }

  .productButton {
    font-size: 12px;
    padding-block: 10px;
    min-width: 145px !important;
    width: 145px;
  }

  .productDetail {
    font-size: 12px;
  }

  .newProduct {
    font-size: 12px;
    top: 5px;
    left: 5px;
  }
}